body {

background-color: rgb(224, 203, 170);


}

h1 {
    color: black;
}


h2{
color: rgb(5, 5, 45);
}


h3 {
color: rgb(5, 5, 45);

}


h4 {

    color: rgb(10, 10, 242);
font-family: Georgia;

}

img {

width: 280px;
height: auto;
}

.conteiner {
display: flex;
gap: 20px;

}

.conteiner div {
text-align: center;

}

.conteiner img {

width: 250px;
height: auto;
}

