body {

background-color: rgb(242, 213, 142);
background-image: url("https://static.vecteezy.com/system/resources/previews/054/809/121/large_2x/blue-frame-on-transparent-background-free-png.png");
background-repeat: no-repeat;
background-size: 100% 100%;

}

h1 {
    color: black;
}


h2{
color: rgb(5, 5, 45);
}


h3 {
color: rgb(5, 5, 45);

}


h4 {

    color: rgb(5, 5, 45);
}

img {

width: 200px;
height: auto;
}